config BOARD_SLICEMK_ERGODOX_202205_GREEN_LEFT
    bool "SliceMK ErgoDox 202205 Green Left"
    depends on SOC_NRF52833_QIAA

config BOARD_SLICEMK_ERGODOX_202205_GREEN_RIGHT
    bool "SliceMK ErgoDox 202205 Green Right"
    depends on SOC_NRF52833_QIAA
