if BOARD_SLICEMK_ERGODOX_202104

config BOARD
    default "SliceMK ErgoDox 202104"

if USB

config USB_NRFX
    default y

config USB_DEVICE_STACK
    default y

endif # USB

config BT_CTLR
    default BT

endif # BOARD_SLICEMK_ERGODOX_202104
